.top-bar {
  background-image: linear-gradient(
      to bottom,
      #0f0f0f 2%,
      rgba(20, 15, 15, 0.97) 16%,
      rgba(34, 14, 14, 0.91) 28%,
      #e5000000 100%
    ),
    url("../../../public/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .top-bar--btn {
    background-color: #e3080f;
    transition: all 0.3s;
    &:hover {
      background-color: #b90208;
    }
  }
}

@media (max-width: 992px) {
  .top-bar {
    width: 92%;
    margin-inline: auto;
    border-radius: 6px;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}
