footer {
  background-color: #121212;

  @media (min-width: 768px) {
    .social-links {
      justify-content: start !important;
    }
  }
  a {
    transition: all 0.3s;
  }

  a:hover {
    color: #e3080f !important;
    opacity: 1 !important;
  }
}
